<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.blog.search.mapper.ESBlogMapper">

    <resultMap id="BaseResultMap" type="com.simple.blog.search.entity.ESBlog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="cover" jdbcType="VARCHAR" property="cover" />
        <result column="md_content" jdbcType="LONGVARCHAR" property="mdContent" />
        <result column="html_content" jdbcType="LONGVARCHAR" property="htmlContent" />
        <result column="view" jdbcType="BIGINT" property="view" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, title, cover, md_content, html_content, view
        FROM blog
    </select>

</mapper>